.flexi_1,
.flexi_2,
.flexi_3 {
  display: flex;
  gap: 1.5rem;
}
.flexi_1 {
  grid-column-start: 3;
  flex-direction: column;
}
.flexi_2 {
  grid-column-start: 4;
  flex-direction: column;
}
ul {
  list-style: none;
}
.foot {
  height: 150px;

  width: 100%;

  color: white;
  text-align: center;
}
.foot svg {
  filter: brightness(0) invert(1);
  width: 32px;
  height: 32px;
}
