@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&family=Poppins:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, rgb(85, 85, 156), rgb(32, 32, 83));
  height: fit-content;
  overflow-x: hidden;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
/*
main::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.07),
    rgba(0, 0, 0, 0.65)
  );
  pointer-events: none;
}
*/
main {
  overflow: hidden;
  background: linear-gradient(to bottom, rgb(85, 85, 156), rgb(32, 32, 83));
}
nav {
  z-index: 2;
  display: flex;
  padding: 0.75rem 2rem;
  flex-direction: row;
  align-items: center;
  background: inherit;
  justify-content: space-between;
}
.menu-list {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-style: italic;
  list-style: none;
  color: white;
}
.option {
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
}
.option:after {
  content: "";
  background-color: #fff;
  width: 0;
  left: 0;
  bottom: -10px;
  position: absolute;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.option:hover::after,
.active::after {
  width: 100%;
}
.logo {
  filter: brightness(0) invert(1);
  width: 64px;
  height: 64px;
}
.first {
  color: white;
  display: flex;
  z-index: -2;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active {
  font-weight: bolder;
}
a {
  text-decoration: none;
  color: white;
}
.contactbtn {
  z-index: 3;
  scroll-behavior: smooth;
}
.sec2ic {
  width: 32px;
  filter: brightness(0) invert(1);

  padding: 0.5rem;
}
.social {
  width: 50px;
  filter: brightness(0) invert(1);
  border-radius: 50%;
  border: 1.8px white solid;
  padding: 0.5rem;
  animation: rotating 15s linear infinite;
}
@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
p {
  color: white;
}

.leftsec1 {
  width: 50%;
  padding-left: 5rem;
  font-size: 25px;
  line-height: 46px;
}
.contactbtn {
  position: relative;
  display: inline-block;
  margin-top: 5rem;
  font-weight: 700;
  padding: 1rem;

  letter-spacing: 0.15rem;
}
.contactbtn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  width: 20%;
  border-radius: 50px;
  background: #ff40bf;
  z-index: -1;
  transition: all 0.3s ease-out;
}
.contactbtn:hover::after {
  width: 100%;
}
.rightsec1 {
  position: relative;
  width: 50%;
  height: 550px;
  margin-top: 5rem;
  background: radial-gradient(550px, white, transparent 50%);
}
.logoright {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.social-media {
  animation: rotating 60s linear infinite;
  height: 100%;
}
.social-media svg {
  position: absolute;
}
.social1 {
  top: 0;
  left: 47%;
}

.social2 {
  top: 40%;
  left: 10%;
}
.social3 {
  top: 40%;
  right: 10%;
}
.social4 {
  bottom: 0;
  left: 47%;
}
.second {
  background: #26234e;
  display: grid;
  grid-gap: 4rem;
  height: 35rem;
  grid-template-columns: 40% 60%;
  padding: 4rem;
  margin: 10rem auto;
  position: relative;
  border-radius: 10%;
  width: 80%;
}
/*-------------CONTACT SECTION--------------*/
i {
  display: flex;
  flex-direction: row;
  align-items: center;
}
aside {
  border-radius: 10%;
  position: relative;
  height: 40rem;
  top: -15%;
  left: -5%;
  display: flex;

  flex-direction: column;

  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  background: #0098ff;
}
.contactheader {
  text-align: center;
  color: white;
  margin-bottom: 3.5rem;
}
.illustr {
  width: 100%;
  height: 40%;
}
aside p {
  line-height: 25px;
  font-size: 18px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  /*display: none;*/
}
form input,
textarea,
button {
  padding: 0.7rem;
  width: 80%;
  outline: none;
  border: none;
  color: white;
  background: inherit;
}
.inputcont {
  padding: 20px 0 0 0;
  position: relative;
  overflow: hidden;
}
.inputcont label {
  position: absolute;

  bottom: 0;
  color: white;
  pointer-events: none;
  left: 0;
  width: 80%;
  height: 100%;
  border-bottom: 1px white solid;
}

label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: all 0.4s ease-out;
  transform: translateX(-100%);
  border-bottom: 3px #0098ff solid;
}
.contentname {
  position: absolute;
  top: 30px;
  left: 5px;
  font-weight: 700;
  transition: all 0.4s ease-out;
}
textarea .contentname {
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 0.4s ease-out;
}
textarea {
  resize: none;
}
.submit {
  background-color: #ff40bf;
  font-weight: 600;
  color: white;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.16rem;
  cursor: pointer;
}
.submit:hover {
  background: #0098ff;
  color: white;
}

form input:focus + .labelname .contentname,
form input:valid + .labelname .contentname {
  transform: translateY(-150%) scale(0.8);
  color: #0098ff;
}
form input:focus + label::after,
form input:valid + label::after {
  transform: translateX(0);
}

form textarea:focus + .labelname .contentname,
form textarea:valid + .labelname .contentname {
  transform: translateY(-150%) scale(0.8);
  font-weight: 600;
  color: #0098ff;
}
form textarea:focus + label::after {
  transform: translateX(0);
}

footer {
  width: 100vw;
  height: 25vh;
}
.griding {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  background: linear-gradient(to top, rgb(85, 85, 156), rgb(32, 32, 83));
  margin: auto;
}
.gridcomp {
  display: flex;
  height: 100%;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexi_1,
.flexi_2,
.flexi_3 {
  display: flex;
  gap: 1.5rem;
}
.flexi_1 {
  grid-column-start: 3;
  flex-direction: column;
}
.flexi_2 {
  grid-column-start: 4;
  flex-direction: column;
}
ul {
  list-style: none;
}
.foot {
  height: 150px;

  width: 100%;

  color: white;
  text-align: center;
}
.foot svg {
  border: none;
  padding: 0;
  filter: brightness(0) invert(1);
  width: 32px;
  height: 32px;
  animation: none;
}

@media (max-width: 1088px) {
  .first {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .leftsec1 {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    font-size: 25px;
    line-height: 46px;
  }
  .leftsec1 h2 {
    text-align: center;
    margin: 2rem;
  }
  .rightsec1 {
    position: relative;
    width: 80%;

    margin: 3rem 0;
    background: radial-gradient(550px, white, transparent 50%);
  }
  .second {
    grid-gap: 1rem;
    height: fit-content;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    padding: 4rem;
    margin: 20rem auto;
    position: relative;

    width: 70%;
  }

  aside {
    height: fit-content;
    top: -65%;

    width: 20rem;

    margin: 0 auto;
  }
}
