@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background: url(images/CircuitBoar.svg);*/
  background: linear-gradient(to bottom, rgb(85, 85, 156), rgb(32, 32, 83));
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  background-position: center center;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
}

main {
  width: 92%;
  margin: 2rem auto;
}
#Tout {
  margin-top: -5%;
  justify-content: center;
}

.welcome {
  text-align: center;
  margin: 3rem 0;
}
.maingall {
  width: 80%;
  height: 100%;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
#first {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  gap: 5rem;

  height: 100vh;
}
nav {
  width: 100%;
  z-index: 2;
  display: flex;
  padding: 0.75rem 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-list {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-family: sans-serif;
  font-style: italic;
  list-style: none;
  color: white;
}

.option {
  margin: 0 1rem;

  cursor: pointer;
  position: relative;
}
.option:after {
  content: "";
  background-color: #fff;
  width: 0;
  left: 0;
  bottom: -10px;
  position: absolute;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.option:hover::after,
.active::after {
  width: 100%;
}
.option:hover::after,
.active::after {
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  filter: brightness(0) invert(1);
  width: 64px;
  height: 64px;
}
.active {
  font-weight: bolder;
}

.text_1 {
  width: 70%;
  font-family: Verdana;
  padding: 2rem;
}

.text_1 p,
.text_2 p {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.12rem;
}
#first {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h2 {
  text-align: center;
  margin: 5rem 0;
}
.second {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4rem;
  height: 60vh;
  margin-top: 5rem;

  justify-content: space-between;
}
svg {
  width: 60px;

  filter: brightness(0) invert(1);
}
.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  width: 12rem;
  height: 10rem;
  background: rgba(113, 113, 214, 0.914);
  justify-content: center;
  border-radius: 10px;
}
.counter {
  font-size: 20px;
}
.right {
  width: 50%;
}
.right p {
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.12rem;
}
#nombre {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}
.super {
  width: 50%;
  background: white;
  height: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
}
.super img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  position: absolute;
}
.img-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: rotate(10deg);
  background: linear-gradient(
    to bottom,
    rgba(113, 113, 214, 0.914),
    rgb(142, 142, 201)
  );
  z-index: -1;

  box-shadow: 0px -1px 300px 0px rgba(91, 110, 214, 0.75);
}
.img-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: rotate(5deg);
  background: linear-gradient(
    to bottom,
    rgba(50, 50, 124, 0.914),
    rgb(41, 41, 99)
  );
  z-index: -1;
}
/*-----------THIRD------------------*/
.slider {
  width: 100%;
  height: fit-content;
  display: flex;

  align-items: center;
  justify-content: center;
}
.swiper {
  border-radius: 30px;
  width: 80%;
  height: fit-content;
}
/*
.overlay {
  top: 0;
  bottom: 0%;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  transition: 0.4s all ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(98, 98, 180, 0.221),
    rgba(51, 51, 105, 0.648)
  );
}
.overlay p {
  position: absolute;
  top: 70%;
  left: 10%;
}*/
.swiper-slide::after {
  content: "";
  top: 0;
  bottom: 100%;
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.4s all ease-in-out;
  background: linear-gradient(
    to bottom,
    rgba(98, 98, 180, 0.221),
    rgba(51, 51, 105, 0.648)
  );
}
.para {
  position: absolute;
  bottom: -20%;
  left: 7%;
  text-align: left;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  width: 80%;
  transition: 0.3s all ease-in-out;
}
.swiper-slide {
  overflow: hidden;
}
.swiper-slide:hover::after {
  bottom: 0%;
}
.swiper-slide:hover .para {
  bottom: 20%;
}
.swiper-slide img {
  width: 100%;
}

.swiper-slide {
  position: relative;
}

.slide {
  margin: 2rem auto;

  width: 90vw;

  justify-content: center;
  text-align: center;
}

footer {
  width: 100vw;
  height: 30vh;
  margin-bottom: 0;
}
.griding {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  background: linear-gradient(to top, rgb(85, 85, 156), rgb(32, 32, 83));
  margin: auto;
}
.gridcomp {
  display: flex;
  height: 100%;
  width: 33.3%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexi_1,
.flexi_2,
.flexi_3 {
  display: flex;
  gap: 1.5rem;
}
.flexi_1 {
  grid-column-start: 3;
  flex-direction: column;
}
.flexi_2 {
  grid-column-start: 4;
  flex-direction: column;
}
ul {
  list-style: none;
}
.foot {
  height: 150px;

  width: 100%;

  color: white;
  text-align: center;
}
.foot svg {
  filter: brightness(0) invert(1);
  width: 32px;
  height: 32px;
}
@media (max-width: 1088px) {
  #first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
  }
  #D1 {
    width: 60%;

    margin: 0 auto;
  }
  .text_1 {
    text-align: center;
    margin-right: 2rem;
    width: 95%;
  }
  .second {
    flex-direction: column;
    width: 100%;
    gap: 6rem;
    height: fit-content;
    margin-top: 5rem;

    justify-content: center;
  }
  .super {
    width: 90%;
    background: white;

    height: 60vh;
    display: flex;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .right {
    width: 90%;
    margin: 0 auto;
  }
  .maingall {
    width: 100%;
    height: 100%;

    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
